:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;


    --font-title: "Quicksand" 
}

.form{
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.form__input{
    border-radius: 8px;
    border-width: 0;
    background-color: var(--text-input-field);
    height: 2rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.form__label{
    font-family: var(--font-title);
}

.button{
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-width: 0;
    border-radius: 8px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--hospital-green);
}

.button .button__login--active{
    background-color: var(--hospital-green); 
    color: var(--white);
}

.button .button__login--borde{
    margin-top: 8vh;
    border: solid 2px var(--hospital-green);
}

.resend{
    display: flex;
    justify-content: center;
}

.resend .button__login--resend{
    margin-right: 0.5em;
    color: #C7C7C7;
}