body{
    margin: 0;
}

:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;


    --font-title: "Quicksand" 
}
.inicio{
    margin: 8vh;
    display: flex;
    justify-content: center;
}

.inicio .inicio__title--active{
    color: var(--hospital-green);
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.inicio h1{
    font-family: var(--font-title);
}