body{
    margin: 0;
}

:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;

    --sangria: 4vw;

    --font-title: "Quicksand";
}

/* Roots */


.navar{
    box-sizing: border-box;
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px var(--text-input-field);

}
.navar__logo{
    margin-left: 2vw;
    margin-right: 2vw;
}

.navar .inicio{
    margin: 0;
}

/* Navar */

.inicio{
    margin: 8%;
    display: flex;
    justify-content: center;
}

.inicio__title--logo{
    width: 1.5rem;
}

.inicio__title--active{
    color: var(--hospital-green);
    margin-left: 0.25em;
    margin-right: 0.25em;
}

/* Texto */

.texto{
    font-family: var(--font-title);
}

.texto--bold{
    font-family: var(--font-title);
    font-weight: 700;
}

a{
    text-align: center;
    color: var(--hospital-green);
    margin: 2rem;
    text-decoration: none;
}

.text--center{
    text-align: center;
}

.mensaje{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.mensaje a{
    margin: 1rem;
}
 


/* Texto */

.imagen{
    margin: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circulo {
    position: absolute;
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(128, 128, 128, 0.04);
}

.account__mensaje{
    margin-top: 12%;
    margin-bottom: 12%;
    font-size: 1.5rem;
}


.button .button__login--create{
    font-family: var(--font-title);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--hospital-green); 
    color: var(--white);
}

.form{
    display: flex;
    flex-direction: column;
}

.form__input{
    border-radius: 8px;
    border-width: 0;
    background-color: var(--text-input-field);
    height: 2rem;
    margin-bottom: 2vh;
}

.button{
    display: flex;
    flex-direction: column;
    color: var(--hospital-green);
}

button{
    font-family: var(--font-title);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-width: 0;
    border-radius: 8px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--hospital-green);
    
}

.button__login--active{
    background-color: var(--hospital-green); 
    color: var(--white);
    font-size: 1rem;
}

.bajar__button{
    position: absolute;
    bottom: 0;
    width: 92%;
    margin-bottom: 4%;
}

.button__login--borde{
    border: solid 2px var(--hospital-green);
}

.button__login--create{
    font-size: 1rem;
}


.form__input::placeholder{
    font-family: var(--font-title);
    color: var(--very-light-pink);
    font-weight: 500;
    padding: 2em;
    background-image: url("media/search_black_24dp.svg");
}
.search__input{
    position: absolute;
    margin-top: 3px;
    width: 5%;
}


.body{
    margin: 4%;

}